* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  color: #2c3840;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
input,
button {
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 3.75em;
  font-weight: 900;
}
h2 {
  font-size: 3.25em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2.25em;
}
h5 {
  font-size: 1.75em;
}
h6 {
  font-size: 1.25em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.45;
}
p {
  margin: 0 0 1em;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
a,
a:visited {
  text-decoration: underline;
  color: #0077b3;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: tomato;
}
a:focus {
  border: 1px dotted tomato;
}
a[href$='.zip'] {
  color: tomato;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
